<!DOCTYPE html>
<html>
  <body>

    <header>

      <nav class="navbar navbar-expand-lg navbar-light">
        <a href="#" class="navbar-brand ml-3">The Rose Bud Boutique Hotel</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu"
        aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse"></div>
      <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a routerLink="/home" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/gallery" class="nav-link">Gallery</a>
          </li>
          <li class="nav-item">
            <a routerLink="/services" class="nav-link">Services</a>
          </li>
          <li class="nav-item">
            <a routerLink="/about-us" class="nav-link">About Us</a>
          </li>
          <li class="nav-item active">
            <a routerLink="/contact us" class="nav-link">Contact Us</a>
          </li>
        </ul>

        
      </div>
      </nav>
    </header>

          <main>
              <div class="container-fluid p-0">
                <div class="site-content">
                  <div class="d-flex justify-content-center">
                    <div class="d-flex flex-column">
                        <div class="register">
                            <div class="form">
                              <h2>Contact Us</h2>
                              <form>
                                <div class="form-group">
                                  <label for="exampleInputUsername1">Name</label>
                                  <input type="text" class="form-control" id="exampleInputUsername" placeholder="Enter Username" required >
                                 
                                </div>
                      
                                <div class="form-group">
                                  <label for="exampleInputEmail1">Email address</label>
                                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email" >
                                  
                                </div>
              
                                <div class="form-group">
                                    <label for="exampleInputNumber1">Number</label>
                                    <input type="text" class="form-control" id="exampleInputNumber" placeholder="Enter Number" required>
                                   
                                  </div>
              
                                  <div class="form-group">
                                      <label for="exampleInputMsg1">Message</label>
                                      <textarea class="form-control" id="exampleInputMsg" placeholder="Enter Message"></textarea>
                                   
                                    </div>

                                    <input type="submit" class="btn btn-primary" >
                                    
                                  </form>
                 
                      
                                  
              
                                  <br>
                                  
                                  
                               
                            </div>
                          </div>
                      </div>
      
                    </div>
                  </div>
                  </div>
                  </main>
                  <footer>
                    <div class="section-5 text-center">
                      <h4 style="margin-top:5%">The Rose Bud Boutique Hotel</h4>
                      <h4 class="my-4">Vacation in Elegance</h4>
            
                      
                      </div>
                      <div class="social" style="margin:5%;">
                      <div class="d-flex flex-row justify-content-center">
                        <i class="fab fa-facebook-f m-2"></i>
                        <i class="fab fa-twitter m-2"></i>
                        <i class="fab fa-instagram m-2"></i>
                      </div>
                    </div>
            
                    <hr>
                    <h5 style="color:#00E8E8;">The Rose bud Boutique Hotel | Sandton &copy;</h5>
                    
                  </footer>
</body>
</html>