@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu');
body{
   padding: 0;
   margin: 0;
   font-family: 'Lato';
}


.navbar-brand{
    font-family: 'Pacifico';
    font-size: 35px;
    color:lightcoral !important;
}

.nav-link{
    font-size: 16px;
    margin: 15px;
    color: black !important;
    font-family: 'Roboto Condensed';
}

.nav-link:hover{
   color: #00E8E8 !important;
}

.active .nav-link{
   color: #00E8E8 !important; 
}

.menu-right-btn{
   padding: 13px 46px;
   margin-right: 4%;
   background-color: transparent;
   transition: all 300ms ease-in;
}

.menu-right-btn:hover{
   color: white;
   background-color: #00E8E8;
}

.site-content{
    height: 600px;
   background-image: url("../../assets/lobby.jpeg");
   background-attachment: fixed;
   background-size: cover;
}

#exampleInputMsg{
    height: 100px;
}

.site-title, .site-desc{
   color: white;
   font-family: 'Righteous';
}

.site-title{
   margin-top: 30%;
   margin-bottom: 6%;
   font-size: 50px;
}

.site-desc{
   font-size: 14px;
   padding-left: 15%;
}

.site-btn1{
   margin-left: 20%;
   background-color: black;
   color: white;
}

.site-btn2{
   background-color: white;
}

.site-btn1, .site-btn2{
   margin-top: 5%;
   margin-bottom: 40%;
}

/*Section 1*/
.section-1 .heading-1{
   margin-top: 8%;
}

.section-1 .heading-2{
   margin-bottom: 5%;
   font-size: 39px;
}

.section-1 .para-1{
   width: 60%;
   margin-left: 20%;
   margin-bottom: 5%;
}

.section-1 .card-text, .para-1{
   color: rgba(0, 0, 0, 0.59);
}

.sectin-1{
   margin-bottom: 8%;
}

.card{
   width: 20rem;
}

/*section-5*/

.social i{
   color: lightcoral;
   font-size: 20px;
}

.form-group{
   width: 400px;
   color: white;
}
footer{
   text-align: center;
}
@media screen and(max-width: 768px){
   .section-1 .card{
       width: 14rem;
   }

   .section-4 .col-md-7 img{
       width: 350px;
   }
}

@media screen and(max-width: 320px){
   .site-content .site-title{
       font-size: 30px;
       padding-left: 15%;
   }

   .site-content .site-btn2{
       display: none;
   }

   .site-content .site-btn1{
       margin-left: 15%;
   }

   .section-1 .heading-1, .section-1 .heading-2{
       font-size: 25%;
   }

   .section-1 .col-md-4{
       padding: 5%;
       margin-left: 8%;
   }

   .section-1 .card{
       width: 15rem;
   }

   .section-4 .col-md-5{
       padding: 0% 15%;
   }

   footer input[type="button"]{
       margin-top: 5%;
   }
}