<!DOCTYPE html>
<html>
  <body>

    <header>

      <nav class="navbar navbar-expand-lg navbar-light">
        <a href="#" class="navbar-brand ml-3">The Rose Bud Boutique Hotel</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu"
        aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse"></div>
      <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a routerLink="/home" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/gallery" class="nav-link">Gallery</a>
          </li>
          <li class="nav-item">
            <a routerLink="/services" class="nav-link">Services</a>
          </li>
          <li class="nav-item">
            <a routerLink="/about-us" class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a routerLink="/contact-us" class="nav-link">Contact Us</a>
          </li>
        </ul>

        
      </div>
      </nav>
    </header>

      <main>
        <div class="container-fluid p-0">
          <div class="site-content">
            <div class="d-flex justify-content-center">
              <div class="d-flex flex-column">
                <h1 class="site-title"style="font-size: 80px;">WELCOME!!!</h1>
                <p class="site-desc" style="font-size: 20px;">Elegance| Luxury | Sophistication </p>

                  <div class="d-flex flex-row justify-content-center">
                    <a routerLink="/login"><input type="button" value="Login" class="btn site-btn1 px-4 py-3 mr-4 btn-dark"></a>
                    <a routerLink="/register"><input type="button" value="Register" class="btn site-btn2 px-4 py-3 mr-4 btn-light"></a>
                  </div>

              </div>
            </div>
          </div>
        </div>



        <div class="section-1">
          <div class="container text-center">
            <h1 class="heading-1">Fantastic Features</h1>
            <h1 class="heading-2">& Services Offered</h1>
            <p class="para-1">We have a variety of Five Start Services and Features that we offer and are sure to make your stay one to remember. 
              </p>
              
              <div class="row justify-content-center text-center">
                <div class="col-md-4">
                  <div class="card">
                    <img src="..\assets\fancy-food.jpg" alt="image1" class="card-img-top">
                    <div class="card-body">
                      <h4 class="card-title">Great Food</h4>
                      <p class="card-text">5 Start Restaurant with Top Chefs </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                  <img src="..\assets\untitled24.jpg" alt="image2" class="card-img-top">
                  <div class="card-body">
                  <h4 class="card-title">Rooms/Suites</h4>
                  <p class="card-text">Awesome Suites </p>
                </div>
                </div>
              </div>
              
                <div class="col-md-4">
                    <div class="card">
                        <img src="..\assets\untitled11.jpg" alt="image3" class="card-img-top">
                        <div class="card-body">
                        <h4 class="card-title">Great Communal Spaces</h4>
                        <p class="card-text">Enjoy amazing views</p>
                      </div>
                      </div>
                </div>
              </div>

         </div>
        </div>

          <div class="section-2">
            <div class="container-fluid" width="100%">
              <div class="d-flex justify-content-end">
                <div class="d-flex flex-column m-4">
                  <h1 class="heading-1">5 Star Rated Suites/Rooms</h1>
                  <p class="para">Take a look at what we have to offer!</p>

                      <a routerLink="/services"><input type="button" value="Suites" class="btn btn-danger"></a>
                </div>
              </div>
            </div>
          </div>


          <div class="section-3">
            <div class="container">

              <div class="row mt-2">
                <div class="col-md-4">
                  <div class="d-flex flex-row">
                    <i class="fas fa-coffee fa-3x m-2"></i>

                    <div class="d-flex flex-column">
                      <h3 class="m-2">In-Room Tea and Coffee</h3>
                      <p class="m-2">Each Suite/Room comes with tea/coffee</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="d-flex flex-row">
                    <i class="fas fa-utensils fa-3x m-2"></i>
                    <div class="d-flex flex-column">
                      <h3 class="m-2">Restaurants</h3>
                      <p class="m-2">5 Star Restaurants</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex flex-row">
                        <i class="fas fa-swimming-pool fa-3x m-2"></i>
                        <div class="d-flex flex-column">
                          <h3 class="m-2">Swimming Pool</h3>
                          <p class="m-2">Outdoor and indoor,Heated Swimming Pools</p>
                        </div>
                      </div>
                </div>
              </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="d-flex flex-row">
                      <i class="fas fa-glass-cheers fa-3x m-2"></i>
                      <div class="d-flex flex-column">
                          <h3 class="m-2">Mini Bar</h3>
                          <p class="m-2">
                              Mini Bar stocked with some goodies
                          </p>
                          </div>
                    </div>
                    
                  </div>
                  <div class="col-md-4">

                      <div class="d-flex flex-row">
                          <i class="fas fa-wifi fa-3x m-2"></i>
                          <div class="d-flex flex-column">
                              <h3 class="m-2">In-Room WiFi</h3>
                              <p class="m-2">
                                 Enjoy unlimited WiFi
                              </p>
                              </div>
                        </div>
                        
                  </div>
                  <div class="col-md-4">
                      <div class="d-flex flex-row">
                          <i class="fas fa-rocket fa-3x m-2"></i>
                          <div class="d-flex flex-column">
                              <h3 class="m-2">Express Check-in and Check-out</h3>
                              <p class="m-2">
                                  Busy Schedule? Use our Express Services
                              </p>
                              </div>
                        </div>
                        
                  </div>
                </div>

            </div>
          </div>

          <!--Section 4-->
          <div class="section-4 bg-dark">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <img src="..\assets\view.jpg" alt="image7" width="590">
                </div>
                <div class="col-md-5">
                  <h1 class="text-white">Don't Know where to start?</h1>
                  <a routerLink="/gallery">Visit Our Gallery</a>

                  <p class="para-1">
                     View our Suites/Rooms and choose one that speaks to you.
                  </p>
                </div>
              </div>
            </div>
          </div>
      </main>


      <footer>
        <div class="section-5 text-center">
          <h4 style="margin-top:5%">The Rose Bud Boutique Hotel</h4>
          <h4 class="my-4">Vacation in Elegance</h4>

          <div class="form-inline justify-content-center">
            <input type="text" name="Email" id="email" placeholder="Email" size="40" class="form-control px-4 py-2">
            
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">ContactUs</button>

            
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <div class="register">
                        <div class="form">
                          <h2>Contact Us</h2>
                          <form>
                            <div class="form-group">
                              <label for="exampleInputUsername1">Name</label>
                              <input type="text" class="form-control" id="exampleInputUsername" placeholder="Name" required>
                              
                            </div>
                  
                            <div class="form-group">
                              <label for="exampleInputEmail1">Email</label>
                              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" required>
                              
                            </div>
          
                            <div class="form-group">
                                <label for="exampleInputNumber1">Phone Number</label>
                                <input type="text" class="form-control" id="exampleInputNumber" placeholder="Phone Number" required>
                            
                              </div>
          
                              <div class="form-group">
                                  <label for="exampleInputMsg1">Message</label>
                                  <input type="text" class="form-control" id="exampleInputMsg" placeholder="Your message..." required><br><br>
                                  <a routerLink="/details"><input type="button" value="Done" class="btn btn-success"></a>
                                  
                                </div>
                                </form>
                                </div>
                                </div>       
                                
                </div>
              </div>
              
          </div>
          <div class="social" style="margin:5%;">
          <div class="d-flex flex-row justify-content-center">
            <i class="fab fa-facebook-f m-2"></i>
            <i class="fab fa-twitter m-2"></i>
            <i class="fab fa-instagram m-2"></i>
          </div>
        </div>

        <hr>
        <h5 style="color:#00E8E8;">The Rose bud Boutique Hotel | Sandton &copy;</h5>
        </div>
      </footer>

  </body>
</html>

